table {
  width: 100%;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b84ff;
  height: 100vh; /* Full height of the viewport */
}

.mat-elevation-z8 {
  margin: 20px; /* Adjust as needed */
}

