<div class="fthr-home-container">
    <div class="fthr-toolbar">
        <div class="fthr-toolbar-content container-fluid">
            <div class="fthr-page-title">
                <h1 class="fthr-heading">
                    Accueil
                </h1>
                <ul class="fthr-breadcrumb">
                    <li class="breadcrumb-item">
                        <a>
                            Accueil
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fthr-page container-fluid">
    </div>

  <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button>

</div>
